{% extends 'padre.html' %}

{% load static %}

{% block contenido %}
   <main class="container">
    <h2></h2>
    <a href="alta_alumno" class=" btn custom-btn custom-btn-gris">Nuevo Alumno</a>

    <h1 class="text-center titlle" style="color: #65c452;">Alumnos</h1>
    <style>
        .custom-btn {
            padding: 10px 50px; /* Ajusta el padding para hacer el botón más alargado */
            min-width: 100px; /* Establece un ancho mínimo para el botón */
            border: none; /* Elimina el borde del botón */
            cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
        }
    
        .custom-btn-gris {
            background-color: #808080; /* Gris */
            color: white; /* Texto en color blanco */
        }

        .custom-btn-gris:active {
                background-color: #808080; /* Mantener el mismo color de fondo cuando el botón está presionado */
                color: white; /* Mantener el mismo color de texto cuando el botón está presionado */
}
    
        .custom-btn-gris-claro {
            background-color: #c0c0c0; /* Gris claro */
            color: white; /* Texto en color blanco */
        }
    </style>
    
    <table class="table">
        <thead>
            <tr>
                <td style="color: white;">id</td> 
                <th style="color: white;">Nombre</th>
                <th style="color: white;">DNI</th>
            </tr>
        </thead>
        <tbody>
            {% for n in alumnos %}
            <tr>
                <td style="color: white;">{{ n.id }}</td> 
                <td style="color: white;">{{ n.nombre }}</td>
                <td style="color: white;">{{ n.dni }}</td>
                <td><a href="{% url 'elimina_alumno' n.id %}" class="btn custom-btn custom-btn-gris">Borrar</a></td>
                <td><a href="{% url 'editar_alumno' n.id %}" class="btn custom-btn custom-btn-gris-claro">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
        <main>
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="text-center">Buscar Alumnos</h2>
                            </div>
                            <div class="card-body">
                                <form action="buscar_al" method="GET">
                                    <div class="form-group">
                                        <label for="nombre">Nombre del Alumnos:</label>
                                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre del Alumno">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Buscar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        <!-- O puedes usar un div con margen para crear el espacio -->
        <div style="margin-bottom: 20px;"></div>
        <h2></h2>
        <h2></h2>
        <main>
            <div class="container">
                <div  class="row">
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}">
                            <div class="card-body">
                                <h5 class="card-title"> Ramon Perez </h5>
                                <p class="card-text">Me gusto mucho el curso </p>
                                <a class="btn btn-danger" href ="">>Enviar mensaje </a>
                          </div>
                        </div>
        
                    </div>
                   
            
                   <div class="col-12 col-md-4">
                        <div class="card">
                            <img src="{% static 'AppCoder/assets/img/testimonials-2.jpg' %}">
                            <div class="card-body">
                                <h5 class="card-title"> Ana paul </h5>
                                <p class="card-text">Me gusto mucho el curso </p>
                                <a class="btn btn-danger" href ="">>Enviar mensaje </a>
                          </div>
                        </div>
                    </div>    
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img src="{% static 'AppCoder/assets/img/testimonials-5.jpg' %}">
                            <div class="card-body">
                                <h5 class="card-title"> Ramon Perez </h5>
                                <p class="card-text">Me gusto mucho el curso </p>
                                <a class="btn btn-danger" href ="">>Enviar mensaje </a>
                          </div>
                        </div>
        
                    </div>
                </div>
                <div  class="row">
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img src="{% static 'AppCoder/assets/img/testimonials-3.jpg' %}">
                            <div class="card-body">
                                <h5 class="card-title"> Ramon Perez </h5>
                                <p class="card-text">Me gusto mucho el curso </p>
                                <a class="btn btn-danger" href ="">>Enviar mensaje </a>
                          </div>
                        </div>
        
                    </div>
                   
            
                   <div class="col-12 col-md-4">
                        <div class="card">
                            <img src="{% static 'AppCoder/assets/img/testimonials-2.jpg' %}">
                            <div class="card-body">
                                <h5 class="card-title"> Ana paul </h5>
                                <p class="card-text">Me gusto mucho el curso </p>
                                <a class="btn btn-danger" href ="">>Enviar mensaje </a>
                          </div>
                        </div>
                    </div>   
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img src="{% static 'AppCoder/assets/img/testimonials-4.jpg' %}">
                            <div class="card-body">
                                <h5 class="card-title"> Ramon Perez </h5>
                                <p class="card-text">Me gusto mucho el curso </p>
                                <a class="btn btn-danger" href ="">>Enviar mensaje </a>
                          </div>
                        </div>
        
                    </div> 
        
                </div>    
        
                
         
        
        </main>
        
{% endblock %}
