{% extends "padre.html" %}
{% load static %}

{% block contenido %}  


<div class="container" style="background-color: #1C2424;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Buscar Curso</h2>
                    </div>
                    <div class="card-body" style="background-color: #0a0909;" >
                        <form action="buscar" method="GET">
                            <div class="form-group">
                                <label for="nombre">Nombre del Curso:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre del curso">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
