{% extends "padre.html" %}
{% load static %}

{% block contenido %}  
<div style="margin-bottom: 40px;"></div> 
    <div class="container">
        <div style="margin-bottom: 40px;"></div> /* le doy espacion entre los elementos */
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Buscar Profesor</h2>
                    </div>
                    <div class="card-body">
                        <form action="buscar_prof" method="GET">
                            <div class="form-group">
                                <label for="nombre">Nombre del Profesor:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre del profesor">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
