{% extends "padre.html" %}

{% load static %}
{% block contenido %}  
<div class="grid-container" style="background-color: black;">
   {% if cursos %}
        <ul>
        {% for curso in cursos %}
            <li>Nombre: {{curso.nombre}}</li>
            <li>Camada: {{curso.camada}}</li>
        {% endfor %}
        </ul>
    {% else %}

    <p>No se encontraron cursos con ese nombre</p>

    {% endif %}
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 20px;
            background-color: black;
            color: white;
        }

        .grid-item {
            border: 1px solid #ccc;
            padding: 20px;
        }
    </style>
 

{% endblock %}